html {
    font-family: 'Verdana', sans-serif;
    background-color: #1c1c1c;
    color: #e2e2e2;
}

body {
    padding-top: 50px;
	margin: 0;
}

html body {
	height: 100%;
	width: 100%;
}

main {
  margin: auto;
  width: 90%;
  max-width: 1024px;
}

footer {
	background-color: #141414;
	width: 100%;
	float: left;
    display: block;
    color: white;
    padding: 0;
    text-decoration: none;
	margin: 0;
	position:absolute;
	left: 0;
	//bottom: 0;
	overflow:hidden;
	margin-top:50px;
	border-top:1px solid black;
}

footer div.footersection {
	clear: left;
}

footer p {
	padding-left: 20px;
	font-size: 0.6rem;
	float: left;
}

footer a.footerlink {
	background-color:#202020;
    display: block;
    color: #e2e2e2;
    text-align: center;
    padding: 5px;
    text-decoration: none;
	float:left;
	border-top:1px solid gray;
	border-bottom: 1px dotted black;
}

#topfooter {
	border-right: 1px dotted black;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  text-align: center;
  height:auto;
  border: 2px solid #404040;
}

.list {
  --repeat: auto-fit;
}
@media (min-width: calc(250 * 3px)) {
  .list {
    --repeat: 3;
  }
}

.list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(var(--repeat, auto-fit), 12.65rem);
}

.element {
  margin: 10px;
  border-radius: 5px;
  border: 1px #323232 solid;
  background-color: #202020;
}

.element_downloads {
  text-align: center;
  font-family: 'Arial', sans;
  font-size: 0.8rem;
  margin-bottom: 8px;
  margin-top: 0px;
}

.element img {
  vertical-align: middle;
  width: 11.25rem;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  background-color: #1c1c1c;
}

.element p {
  width: 11.25rem;
  margin-bottom: 8px;
  padding-top: 8px;
  margin-top: 0px;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
  font-family: 'Arial', sans;
  font-weight: bold;
}

.element_text {
  text-align: center;
  font-family: 'Arial', sans;
  font-size: 0.8rem;
  margin-bottom: 8px;
  padding-top: 8px;
  margin-top: 0px;
}

.element_subtext_role {
  text-align: center;
  font-family: 'Arial', sans;
  font-size: 0.8rem;
  margin-top:5px;
  margin-bottom:5px;
  padding:0px;
  font-size:0.75rem;
  font-style:italic;
}
.element_subtext_info {
  text-align: center;
  font-family: 'Arial', sans;
  font-size: 0.8rem;
  margin-top:5px;
  margin-bottom:5px;
  padding:0px;
  font-size:0.7rem;
}

a.nodecor {
  text-decoration: none;
  color: #e2e2e2;
}

.element a {
  text-decoration: none;
  color: #e2e2e2;
}

.text_box {
  text-align: center;
  font-family: 'Arial', sans;
  font-size: 0.8rem;
  margin:5px;
  border-radius: 5px;
  border: 1px #323232 solid;
  background-color: #202020;
}

ul.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    box-sizing: border-box;
}

li.header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 33.33%;
    text-decoration: none;
}

li.header a.active {
    background-color: #323232;
}

li.header a.active:hover {
    background-color: #323232;
}

li.header a:hover {
    background-color: #404040;
}

.headlogo {
	height:40px;
	position:fixed;
	top:0;
	left:0;
	z-index:1;
}

@media screen and (max-width: 600px) {
  .headlogo {
	display: none;
  }
}