.card-basic {
  margin: 10px;
  border-radius: 5px;
  border: 1px $card-border-color solid;
  background-color: $card-basic-background;
  transition-property: background-color, transform, border-color, box-shadow;
  transition-duration: 0.2s;
  overflow: hidden;

  &:hover {
    border-color: $card-border-color-hover;
    box-shadow: 0 0 5px $card-border-color-hover;
    background-color: #0f0f0f;
    transform: scale(1.01);
  }

  svg {
    vertical-align: middle;
    width: 11.25rem;
    height: 11.25rem;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: $primary-background;
  }

  img {
    vertical-align: middle;
    width: 11.25rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: $primary-background;
  }

  img.pad {
    height: 11.25rem;
    padding: 1rem;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #e2e2e2;
  }

  p {
    width: 11.25rem;
    margin-bottom: 8px;
    padding-top: 8px;
    margin-top: 0px;
    font-size: 0.8rem;
    text-align: center;
    font-family: "Arial", sans;
    font-weight: bold;
  }
}

.card {
  margin: 10px;
  border-radius: 2px;
  border: 1px $card-border-color solid;
  background-color: $card-background;
  transition-property: background-color, transform, border-color, box-shadow;
  transition-duration: 0.2s;
  overflow: hidden;

  &:hover {
    border-color: $card-border-color-hover;
    box-shadow: 0 0 5px $card-border-color-hover;
    background-color: #0f0f0f;
    transform: scale(1.01);
  }

  .mod-card-downloads {
    text-align: center;
    font-family: "Arial", sans;
    font-size: 0.8rem;
    margin-bottom: 8px;
    margin-top: 0px;
  }

  svg {
    vertical-align: middle;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: $primary-background;
  }

  img {
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: $primary-background;
  }

  img.pad {
    padding: 1rem;
    margin: 0;
  }

  p {
    width: 11.25rem;
    margin-bottom: 8px;
    padding-top: 8px;
    margin-top: 0px;
    font-size: 0.8rem;
    text-align: center;
    font-family: "Arial", sans;
    font-weight: bold;
  }

  .mod-card-title {
    text-align: center;
    font-family: "Arial", sans;
    font-size: 0.8rem;
    margin-bottom: 8px;
    padding-top: 8px;
    margin-top: 0px;
  }

  .mod-card-sub-role {
    text-align: center;
    font-family: "Arial", sans;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    font-size: 0.75rem;
    font-style: italic;
  }

  .mod-card-sub-info {
    text-align: center;
    font-family: "Arial", sans;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    font-size: 0.7rem;
  }

  a {
    text-decoration: none;
    color: #e2e2e2;
  }

  .mod-card-cfbadge {
    max-width: 90%;
  }

  .mod-card-sitebutton {
    display: block;
    width: 8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: auto;
    border: 1px solid #8c8c8c;
    font-size: 1rem;
    margin-top: 2px;
    background-color: black;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    text-align: center;
    margin-bottom: 5px;
    font-family: "Arial", sans;
    &:hover {
      border: 1px solid #ff7300;
    }
  }
}

.card-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 12.65rem);
}

@media (max-width: 330px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, 12.65rem);
  }
  .card {
    svg {
      width: 11.25rem;
    }
    img {
      width: 11.25rem;
    }
    p {
      width: 11.25rem;
      font-size: 0.8rem;
    }
  }
}
