main.replace-page {
  color: white;
  font-family: Verdana;
  overflow: hidden;
  height: 100vh;
}
label.replace-select-label {
  margin-right: 10px;
}
select.replace-select {
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: #e8e8e8;
  border: 0;
  margin-top: 1.25%;
  margin-bottom: 1.25%;
}
textarea.input-area,
textarea.output-area {
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  border: 1px solid $box-border-color;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  caret-color: #00ff00;
  color: #00ff00;
}
textarea.input-area-half {
  display: block;
  width: 50%;
  height: 70%;
  background-color: black;
  color: white;
  border: 1px solid $box-border-color;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  caret-color: #00ff00;
  color: #00ff00;
  float: left;
}
textarea.input-area {
  height: 61.25%;
  margin-bottom: 2.5%;
}
div.output-container {
  height: 25.25%;
  textarea.output-area {
    height: 100%;
  }
}
div.update-button-container {
  width: 20%;
  height: 0;
  clear: left;
}
div.copy-button-container {
  width: 20%;
  height: 0;
  position: relative;
  top: calc(-4rem - 5px);
  right: calc(-80% + 5px);
}
button.copy-button {
  width: 100%;
  height: 4rem;
  font-size: 1rem;
  display: block;
  background-color: #303030;
  color: red;
  border: 2px solid red;
  transition-duration: 0.35s;
  border-radius: 10px;
  &:hover {
    background-color: #505050;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
  }
}
