.twitter {
  height: 318px;
  background-color: black;
  border: 1px solid $box-border-color;
  box-shadow: 0 0 5px $box-border-color;
  transition-property: background-color, transform, border-color, box-shadow;
  transition-duration: 0.2s;
  &:hover {
    border-color: $card-border-color-hover;
    box-shadow: 0 0 5px $card-border-color-hover;
  }

  .twitter-header {
    padding: 10px;
    height: 100px;
    .profile-details {
      clear: left;
    }
    .twitter-title {
      padding-bottom: 5px;
      clear: right;
    }
    * {
      float: left;
    }
    .fa-sm {
      font-size: 1.25em;
    }
    h2 {
      font-size: 0.9375em;
      margin-left: 10px;
      margin-bottom: 0;
    }
  }
  .tweets {
    width: 100%;
    height: 216px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #070707;
    .tweet-wrapper {
      clear: left;
      background-color: #070707;
      border-bottom: 1px solid #202020;
      display: block;
      .tweet {
        color: $text-color;
        padding-top: 10px;
        padding-bottom: 5px;
        .tweet-content {
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
          font-size: 1rem;
          text-overflow: ellipsis;
          .tweet-link-inline {
            margin: 0;
            max-width: 100%;
          }
          .tweet-links {
          }
        }
        .tweet-image {
          //max-width: 90%;
          margin-left: 5%;
          margin-right: 5%;
          //max-height: 100px;
        }
        .tweet-footer {
          height: 24px;
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
          .meta-item {
            float: left;
            margin-right: 10px;
            span {
              font-size: 0.75em;
            }
          }
        }
      }
    }
  }
  .profile-image {
    clear: left;
    width: 48px;
    height: 48px;
  }
  .profile-text {
    margin-left: 10px;
    font-size: 1em;
  }
  .twitter-followers {
    margin-top: 5px;
    clear: left;
    .fa-sm {
      font-size: 0.8em;
    }
    span {
      font-size: 0.7em;
      transform: translateY(-20%);
    }
  }
}

.fa-xs {
  font-size: 0.75em;
}

.fa-sm {
  font-size: 0.875em;
}

.fa-swap-opacity {
  --fa-secondary-opacity: 0.4;
  --fa-primay-opacity: 1;
}
