/* ==UserStyle==
@name           Curse Dark
@namespace      https://itsmeow.dev/cursedark
@updateURL   https://itsmeow.dev/cursedark/curse-dark.user.css
@version        1.0.4
@description    Adds a dark theme to curseforge
@author         its_meow
==/UserStyle== */
@-moz-document domain("www.curseforge.com") {
    main {
        background: #202020 !important;
        color: #e0e0e0 !important;
    }

    .site:before {
        position: absolute;
        text-align: center;
        margin-left: 20px;
        color: #ffffff63;
        font-size: 0.95rem;
        font-family: Consolas, sans-serif;
        content: "Curse Dark by its_meow";
        z-index: 100;
    }

    a[href*="ist_meow"] {
        background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
        text-align: center;
        background-size: 800% 800%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: rainbow 8s ease infinite;
    }

    a[href*="ist_meow"] * {
        background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
        text-align: center;
        background-size: 800% 800%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: rainbow 8s ease infinite;
    }

    a[href*="itsmeow.dev"] {
        background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
        text-align: center;
        background-size: 800% 800%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: rainbow 8s ease infinite;
    }

    a[href*="itsmeow.dev"] * {
        background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
        text-align: center;
        background-size: 800% 800%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: rainbow 8s ease infinite;
    }

    @keyframes rainbow {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 25%
        }
        100% {
            background-position: 0% 50%
        }
    }

    main .container * {
        background-color: #202020 !important;
    }

    .curseforge-header {
        background-color: #5a3b94;
    }

    .user-menu__tail * {
        background-color: #202020 !important;
    }

    .user-menu__tail span {
        color: #e0e0e0;
    }

    .user-menu__tail div {
        color: #e0e0e0;
    }

    .curseforge-header * {
        border-color: #bbb !important;
    }

    html .game-header.overflow-hidden div.container * {
        background: none !important;
    }

    html .game-header.overflow-hidden div.container * {
        border-color: #bbb !important;
    }

    html .game-header.overflow-hidden.h-40.flex.flex-col.justify-between div.container.mx-auto.mt-auto.flex.justify-between div.flex * {
        background: none !important;
    }

    html .game-header.overflow-hidden.h-40.flex.flex-col.justify-between div.container.mx-auto.mt-auto.flex.justify-between div.flex .button {
        background: #20202087 !important;
    }

    main .nav * {
        background: #202020 !important;
        color: #e0e0e0 !important;
        background-color: #202020 !important;
    }

    main .nav .border-b li {
        border-bottom: 1px solid #a49fad;
    }

    main .nav .border-b li.border-b-2 {
        border-bottom: 2px solid #7d5bbe !important;
    }

    main .nav .border-b li.border-b-2 * {
        color: #af94e3 !important;
    }

    .text-sm {
        color: #e0e0e0 !important;
    }

    .text-xl {
        color: #e0e0e0 !important;
    }

    main .game-header .flex {
        background: none !important;
    }

    main .game-header .text-gray-500 {
        color: #d0d0d0 !important;
    }

    main:not(.game-header) {
        color: #e0e0e0 !important;
    }

    div .user-content {
        color: #e0e0e0 !important;
    }

    body {
        color: #e0e0e0 !important;
    }

    main .text-primary-500 {
        color: #8e5cea;
    }

    main a * {
        color: #8e5cea;
    }

    main a {
        color: #8e5cea;
    }

    .dropdown {
        border: 0;
    }

    .top-nav__nav-link {
        color: #e0e0e0 !important;
    }

    .curseforge-header {
        color: #e0e0e0 !important;
    }

    .game-header {
        background: linear-gradient(180deg, rgba(250, 249, 250, 0.3) 0, rgba(66, 66, 66, .9) 74.03%, #202020 100%);
    }

    main .container .button {
        background-color: #6441a4 !important;
        color: #e1e1e1 !important;
    }

    main .container .button * {
        background-color: #6441a4 !important;
        color: #e1e1e1 !important;
    }

    *,
    ::before,
    ::after {
        border-color: #59575b !important;
    }

    .text-charcoal {
        color: #d7d5d5 !important;
    }

    html body main .project-detail__content code {
        background-color: #2f2f2f !important;
        color: #e3e3e3 !important;
    }

    span.mce-txt {
        color: #f7f6f6;
    }

    .mce-container * {
        color: #d9d9d9;
        text-shadow: 1px 1px #000 !important;
        background-color: #202020 !important;
    }

    .text-gray-500 {
        color: #d8d8d8 !important;
    }

    .bg-white .bg-accent {
        background-color: #303030 !important;
    }

    .bg-white .bg-accent * {
        background-color: #303030 !important;
    }

    .bg-accent * {
        background-color: #303030 !important;
    }

    .bg-accent {
        background-color: #303030 !important;
    }

    .bg-white * {
        background-color: #202020 !important;
    }

    .bg-primary--100 {
        background-color: #404040 !important;
    }

    .bg-primary--100 * {
        background-color: #404040 !important;
    }

    html > * {
        background-color: #111 !important;
        color: #fff !important;
    }

    #tinymce * {
        background-color: #111 !important;
        color: #fff;
    }

    html > * blockquote {
        background-color: #444 !important;
        color: #fff !important;
    }

    html > * a {
        color: #8e5cea !important;
    }

    nav a.button--overlay {
        color: #e0e0e0 !important;
    }

    html > * code {
        background-color: #333 !important;
    }

    main .container div .spoiler {
        background-color: #262626 !important;
    }

    main .container div .spoiler * {
        background-color: #262626 !important;
    }

    .select:not(.is-select2-select),
    .select .select2-choice {
        color: white !important;
    }

    .select2-choices * {
        box-shadow: none !important;
        border: none !important;
        color: #fff !important;
        outline-color: black !important;
    }

    .select2-search-choice {
        background: none !important;
    }

    div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.modal {
        background-color: #202020;
        color: #e0e0e0;
    }

    div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.modal div .form-footer {
        background-color: #202020;
        color: #e0e0e0;
    }

    div.jquery-modal.blocker.current div {
        background-color: #202020;
        color: #e0e0e0;
    }

    div.jquery-modal.blocker.current textarea {
        background-color: #202020;
        color: #e0e0e0;
    }

    div.jquery-modal.blocker.current select {
        background-color: #202020;
        color: #e0e0e0;
    }

    .listing th .asc::after,
    .listing th .desc::after {
        border-bottom: 4px solid #6441A5 !important;
        border-bottom-color: rgb(100, 65, 165) !important;
        border-left: 3px solid transparent !important;
        border-left-color: transparent !important;
        border-right: 3px solid transparent !important;
        border-right-color: transparent !important;
    }

    .listing th .asc::before,
    .listing th .desc::before {
        border-top: 4px solid #6441A5 !important;
        border-top-color: rgb(100, 65, 165) !important;
        border-left: 3px solid transparent !important;
        border-left-color: transparent !important;
        border-right: 3px solid transparent !important;
        border-right-color: transparent !important;
    }

    div.bg-gray--200 {
        background-color: #1a1a1a !important;
    }

    main div.container.mx-auto.flex.justify-between.items-center * {
        background: none !important;
    }

    main div.container.mx-auto.flex.justify-between.items-center .button {
        background: #202020 !important;
    }

    main .container .bg-green-500 {
        background-color: #14b866 !important;
    }

    main .container .bg-green-500 * {
        background-color: #14b866 !important;
    }

    main .container .bg-twitch-offset {
        background-color: #7e798b !important;
    }

    main .container .bg-twitch-offset * {
        background-color: #7e798b !important;
    }

    main .container .bg-prime-blue {
        background-color: #0e9bd8 !important;
    }

    main .container .bg-prime-blue * {
        background-color: #0e9bd8 !important;
    }

    main .form-gray-footer {
        background-color: #2b2b2b !important;
    }

    main .form-gray-footer * {
        background-color: #2b2b2b !important;
    }

    main .form-gray-footer button {
        background-color: #6441a4 !important;
    }

    main .container .u-dropDown .u-dropDownMenu *,
    ::before,
    ::after {
        border-width: 0;
        border-style: solid;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
    }

    main .container .p-comment-wrapper a {
        color: #6f46b9;
    }

    main .container .p-comment-wrapper a * {
        color: #8e5cea;
    }

    main .container .button.button--hollow {
        background: none !important;
    }

    main .container .button.button--hollow * {
        background: none !important;
    }
}