html {
    font-family: 'Verdana', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

html body {
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header-container {
    border-radius: 5px;
}

main {
    padding: 0;
    margin: 0;
    margin-top: -20px;
}

main article {
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.theme-switch-label {
    float: right;
    clear: none;
    margin-top: 13px;
    margin-right: 10px;
    font-size: 0.7rem;
}

.theme-switch {
    float: right;
    clear: none;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
    width: 60px;
    height: 30px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.content {
    width: 100%;
    height: 100%;
}

.banner-back {
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: -3;
}

.banner {
    display: block;
    position: relative;
    max-height: 550px;
    width: 90%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

footer {
    width: 100%;
    float: left;
    display: block;
    padding: 0;
    text-decoration: none;
    margin: 0;
    position: absolute;
    left: 0;
    overflow: hidden;
}

footer div.footersection {
    clear: left;
}

footer p {
    padding-left: 20px;
    font-size: 0.6rem;
    float: left;
}

footer a.footerlink {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    float: left;
}

.footer-image-box {
    width: 100px;
    height: 100px;
    float: left;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    text-align: center;
    height: auto;
}

a.nodecor {
    text-decoration: none;
}

.headlogo {
    height: 40px;
    float: left;
    z-index: 1;
    border-radius: 2px;
}

@media screen and (max-width: 800px) {
    .footer-image-box {
        display: none;
    }
}

.list {
    --repeat: auto-fit;
}

@media (min-width: calc(250 * 3px)) {
    .list {
        --repeat: 4;
    }
}

.list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--repeat, auto-fit), 12.65rem);
}

.element {
    margin: 10px;
    border-radius: 5px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.element:hover {
    transform: scale(1.12);
}

.element_downloads {
    text-align: center;
    font-family: 'Arial', sans;
    font-size: 0.8rem;
    margin-bottom: 8px;
    margin-top: 0px;
}

.element img {
    vertical-align: middle;
    width: 11.25rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.element p {
    width: 11.25rem;
    margin-bottom: 8px;
    padding-top: 8px;
    margin-top: 0px;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 5px;
    font-family: 'Arial', sans;
    font-weight: bold;
}

.element_text {
    text-align: center;
    font-family: 'Arial', sans;
    font-size: 0.8rem;
    margin-bottom: 8px;
    padding-top: 8px;
    margin-top: 0px;
}

.element_subtext_role {
    text-align: center;
    font-family: 'Arial', sans;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    font-size: 0.75rem;
    font-style: italic;
}

.element_subtext_info {
    text-align: center;
    font-family: 'Arial', sans;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    font-size: 0.7rem;
}

.element a {
    text-decoration: none;
}

.highlightsection {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.title-front {
    position: absolute;
    bottom: 40%;
    z-index: 5;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.7rem;
}

.title-back {
    position: absolute;
    bottom: 40%;
    z-index: 4;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.7rem;
}

@media (max-width:450px) {
    .list {
        grid-template-columns: repeat(auto-fit, 8.75rem);
    }
    .element img {
        width: 7.35rem;
    }
    .element p {
        width: 7.35rem;
        font-size: 0.7rem;
    }
    .title-front {
        bottom: 30%;
    }
    .title-back {
        bottom: 30%;
    }
}